<form [formGroup]='f' novalidate (ngSubmit)="submit(f.value, f.valid)">
    <div layout="column" layout-margin>
        <mat-form-field flex>
            <input matInput type="password" placeholder="Current Password" formControlName="currentPassword">
            <mat-error *ngIf="f.controls.currentPassword.errors?.required" translate>REQUIRED_ERROR_MSG</mat-error>
        </mat-form-field>

        <mat-form-field flex>
            <input matInput type="password" placeholder="New Password" formControlName="newPassword">
            <mat-error *ngIf="f.controls.newPassword.errors?.required" translate>REQUIRED_ERROR_MSG</mat-error>
        </mat-form-field>

        <mat-form-field flex>
            <input matInput type="password" placeholder="Retype Password" formControlName="confirmPassword">
            <mat-error *ngIf="f.controls.confirmPassword.errors?.required" translate>REQUIRED_ERROR_MSG</mat-error>
            <mat-error *ngIf="f.controls.confirmPassword.errors?.equalTo" translate>PASSWORD_MISMATCH_ERROR_MSG</mat-error>
        </mat-form-field>

        <mat-error flex *ngIf="passwordRequirementErrorMsg">{{passwordRequirementErrorMsg}}</mat-error>
    </div>

    <div layout='row' layout-align="end" layout-margin>
        <div flex></div>
        <button flex mat-button (click)='cancel()' type='button' translate>CANCEL</button>
        <button flex mat-button color="accent" [disabled]="!f.valid" type='submit' translate>SAVE</button>
    </div>
</form>
