<ion-header>
    <ion-navbar>
        <vrp-header>{{'PAGE.CUSTOMER_SERVICE.Header' | translate}}</vrp-header>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-list-header color="dark">
            {{'PAGE.CUSTOMER_SERVICE.ExpectLateHeader' | translate}}
        </ion-list-header>

        <ion-item-group radio-group [(ngModel)]="selectedTime">
            <ion-item *ngFor="let time of timeList">
                <ion-label [innerText]="time"></ion-label>
                <ion-radio [value]="time"></ion-radio>
            </ion-item>
        </ion-item-group>

        <ion-list-header color="dark">
            {{'PAGE.CUSTOMER_SERVICE.RemarksHeader' | translate}}
        </ion-list-header>

        <ion-item-group>
            <ion-item>
                <ion-textarea rows="3" (keydown.enter)="false" [(ngModel)]="remarks"></ion-textarea>
            </ion-item>
        </ion-item-group>

        <ion-list-header color="dark">
            {{'PAGE.CUSTOMER_SERVICE.SelectedJobsHeader' | translate}}
        </ion-list-header>

        <ion-item-group>
            <ion-item *ngFor="let job of jobs" text-wrap>
                #{{job.DeliveryMasterId}}
                <br> <vrp-jobtype-label [jobtype]="job.JobType"></vrp-jobtype-label>
                <br> {{job.StartTimeWindow | date:'shortTime'}} to {{job.EndTimeWindow | date:'shortTime'}}
            </ion-item>
        </ion-item-group>
    </ion-list>
</ion-content>

<ion-footer class="hide-on-keyboard-open">
    <ion-grid no-padding>
        <ion-row>
            <ion-col col-6 no-padding>
                <vrp-btn-clear (pressed)="btnClear()"></vrp-btn-clear>
            </ion-col>

            <ion-col col-6 no-padding>
                <button ion-button full large color="secondary" no-margin (tap)="btnSubmit()">
                    <div>
                        <ion-icon name="send"></ion-icon>
                        {{'BUTTON.Submit' | translate}}
                    </div>
                </button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-footer>
